@font-face {
  font-family: HedvigLetters;
  src: url("Fonts/HedvigLettersSans-Regular.ttf");
}
body {
  font-family: HedvigLetters;
}
nav .styleA a {
  font-size: 11px;
  padding: 5px 0;
  color: black;
  font-weight: 300;
}

#expand {
  width: 50%;
  transition: width 0.5s;
}

.navbar-brand {
  font-size: 15px;
  font-weight: 700;
}

.styleA a:hover {
  text-decoration: underline;
}

nav .styleA a:active {
  border: 1px dotted black;
}

nav input {
  width: 50%;
}

nav input[placeholder] {
  font-size: small;
  padding: 4px 10px;
}

.expanding-input {
  width: 100px;
  padding: 10px;
  transition: width 0.3s ease, margin-left 0.3s ease;
  margin-left: 0;
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  border: 1px solid black;
}

ul li button {
  background-color: #89c402;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
}



.firstRowImg img {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.firstRowText {
  width: 80%;
  margin: auto;

  display: grid;
  flex-direction: column;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  height: 350px;
}

.firstRowText h1 {
  font-weight: 650;
}

.firstRowText p {
  font-weight: 100;
  font-size: 13px;
}

.firstRowText button:nth-child(1) {
  background-color: #0067b8;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-weight: 600;
}

.firstRowText button:nth-child(2) {
  background-color: none;
  border: 2px solid #004f8b;
  color: #004f8b;

  border-radius: 5px;
  padding: 10px 15px;
  font-weight: 500;
}

.firstRowText div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondHam {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url("arrow-down-3101.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.secondNav {
  width: 80%;
  margin: auto;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

.styleA2 li a {
  font-size: 13px;
  color: #1f3252;
  font-weight: 100;
}

.styleA2 li a:hover {
  color: #1f3252;
}

.secondNav button:nth-child(1) {
  background-color: #89c402;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  font-size: 13px;
}

.secondRowHead{
    padding-top: 100px;
    width: 80%;
    margin: auto;
}
.secondRowHead h3{
    font-weight: 600;
}

.secondRowHead p{
    font-size: 11px;
}

.secondRow{
    padding-top: 50px;
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    
}

.card1 {
    padding: 10px;
    border-radius: 25px;
}

.card img{
    border-radius: 10px;
}

.card1 a:nth-child(2){
    color: #263e65;
    font-size: 12px;
    text-decoration: none;
}

.card1 h5{
    font-weight: 600;
    font-size: 18px;
}

.card1 p{
    font-size: 14px;
}



.thirdRowHead h3{
  font-weight: 600;
}

.thirdRowHead p{
  font-size: 11px;
}

#solutions{
  padding-top: 50px;
  width: 80%;
  margin: auto;
}

.thirdRowScrollButton{
  margin-top: 50px;
}

.thirdRowScrollButton a{
  padding:5px 20px ;
  margin-left: 20px;
  background-color: rgba(0, 79, 139, 0.384);
  color: #263e65 ;
  border-radius: 20px;
  border: none;
  
}

.thirdRowScrollButton a:hover{
  background-color: rgba(68, 104, 131, 0.692);
}

.thirdRowScrollButton a:nth-child(1){
  background-color: #263e65;
  color: white;
}


/* media queries */
@media screen and (min-width: 860px) {
  .firstRowText {
    position: absolute;
    left:10%;
    bottom: 425px;
    
  }
}
@media screen and (max-width: 860px) {
  .firstRowText {
    padding-top: 50px;
    display: block;
    grid-template-columns: 1fr;
  }

  .firstRowText div:nth-child(1) div button {
    margin-top: 5px;
    display: block;
    width: 100%;
  }

  .secondRow{
    grid-template-columns: 1fr;
  }

 
}

@media screen and (max-width:1036px) {
  .thirdRowScrollButton{
    white-space: nowrap; /* Prevent buttons from wrapping */
    overflow-x: scroll; /* Add horizontal scrollbar */
  }

  .thirdRowScrollButton::-webkit-scrollbar{
    width: 0;
}
}